.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        %h3.brand
          = 'Amalgam'
        %ul.nav
          = controller_links
        %ul.nav.pull-right
          - if editor
            %li.edit
              %a{:href => '#'}= t('admin.actions.edit')
          %li.divider-vertical
          - if admin_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                = current_admin.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to(t('amalgam.sessions.actions.edit_info'),amalgam.edit_info_path('admin_user'))
                %li= link_to(t('amalgam.sessions.actions.sign_out'), amalgam.signout_path("admin_user"), :method => 'delete')