.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        %h3.brand
          = 'Amalgam'
        %ul.nav
          = drop_down(Page.model_name.human,'#', :controller => 'amalgam/admin/pages') do
            = dropdown_item(t('amalgam.admin.actions.index'), amalgam.admin_pages_path)
            = dropdown_item(t('amalgam.admin.actions.new'), amalgam.new_admin_page_path)
          = controller_links
        %ul.nav.pull-right
          - if editor
            %li.edit
              %a{:href => '#'}= t('admin.actions.edit')