%header.clearfix{'data-scroll' => 'fixed'}
  = link_to new_admin_page_path, :class => 'btn btn-info btn-add', :data => {:toggle => 'button'} ,:title => "#{t('amalgam.admin.actions.new')}#{Page.model_name.human}" do
    %i.icon-plus.icon-white
    #{t('amalgam.admin.actions.new')}#{Page.model_name.human}

=render :partial => "amalgam/admin/tree/list", :locals =>{ :collection => @pages, :parent_id => nil , :data => {:done => t('amalgam.admin.tree.moved'), :error => t('amalgam.admin.tree.move_error') ,:path => admin_pages_path, :param => Page.model_name.underscore} }