!!!5
%html
  %head
    %title CMS
    = stylesheet_link_tag    "amalgam/admin"
    = javascript_include_tag "amalgam/admin"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield(:head)
    - else
      = render 'amalgam/admin/application/head'
  %body{:class => body_class}
    =render :partial => "amalgam/admin/nav_bar", :locals => {:editor => false}
    .container.wrapper
      .row
        - if @resource_class && @resource_class.included_modules.include?(Amalgam::Types::Hierachical)
          .span5.sidebar
            .tree-container
          .span7.main.data-pjax-container
            %br
            = yield
        - else
          .span12
            .span8.main.data-pjax-container
              = yield
    .footer