!!!
%html
  %head
    %meta{:content => "width=device-width, maximum-scale=1.0, initial-scale=1.0", :name => "viewport"}
      = csrf_meta_tags
      %title= 'Amalgam'
      %script{ :type => "text/javascript"}
      = stylesheet_link_tag    'amalgam/editor'
      = javascript_include_tag 'amalgam/editor'
  %body
    = render :partial => 'amalgam/admin/nav_bar', :locals => {:editor => true}