%article
  - if params[:parent_class]
    - if Amalgam.admin_menus[@resource_class.to_s.tableize].include?('new')
      %span.right
        =link_to admin_new_resource_path(params[:resources],:parent_class => params[:parent_class],:parent_id =>params[:parent_id]) ,:class => 'btn btn-primary' do
          %i.icon-plus.icon-white
          = "#{t('amalgam.admin.actions.new')}#{@resource_class.model_name.human}"
  - else
    - if Amalgam.admin_menus[@resource_class.to_s.tableize].include?('new')
      %span.right
        =link_to admin_new_resource_path(params[:resources]) ,:class => 'btn btn-primary' do
          %i.icon-plus.icon-white
          = "#{t('amalgam.admin.actions.new')}#{@resource_class.model_name.human}"
  = form_for @resource.source, :url => admin_update_resource_path(params[:resources]) ,:html => {:class => 'basic'}, :builder => Amalgam::Admin::AttrInputFormBuilder do |f|
    %legend
      = "#{t('amalgam.admin.actions.edit')}#{@resource_class.model_name.human}"
    - @resource.admin_attrs.each do |attr|
      = f.label attr
      = f.attr_input attr
    - if @resource.source.class.taggable?
      - @resource.source.class.tag_types.each do |type|
        = f.label "#{type.to_s.singularize}_list"
        = f.tag_input "#{type.to_s.singularize}_list"
    %br
    = render :partial => 'form_buttons', :locals => { :form => f }
