%article
  = form_for @resource.source, :url => admin_create_resource_path(params[:resources]) ,:html => {:class => 'basic'}, :builder => Amalgam::Admin::AttrInputFormBuilder do |f|
    %legend
      = "#{t('amalgam.admin.actions.new')}#{@resource_class.model_name.human}"
    - @resource.source.class.admin_attrs.each do |attr|
      = f.label attr
      = f.attr_input attr
    %p
      = f.submit :class => "btn-primary btn"
      = link_to t("admin.a.back"), @back_path, :class => "btn"