%article
  - url = params[:locale] ? admin_create_resource_path(params[:resources], :locale => params[:locale]) : admin_create_resource_path(params[:resources])
  = form_for @resource.source, :url => url ,:html => {:class => 'basic'}, :builder => Amalgam::Admin::AttrInputFormBuilder do |f|
    %legend
      = "#{t('amalgam.admin.actions.new')}#{@resource_class.model_name.human}"
    - @resource.admin_attrs.each do |attr|
      = f.label attr
      - if Amalgam.i18n && @resource.translated?(attr)
        = f.attr_input attr, :value => @resource.read_attribute(attr, :locale => params[:locale])
      - else
        = f.attr_input attr, :locale => params[:locale]
    %p
      = f.submit :class => "btn-primary btn"
      = link_to t("amalgam.admin.a.back"), @back_path, :class => "btn"