%article
  = form_for @resource.source, :url => admin_update_resource_path(params[:resources]) ,:html => {:class => 'basic'}, :builder => Amalgam::Admin::AttrInputFormBuilder do |f|
    %legend
      = "#{t('amalgam.admin.actions.edit')}#{@resource_class.model_name.human}"
    - @resource.admin_attrs.each do |attr|
      = f.label attr
      - if Amalgam.i18n && @resource.source.respond_to?(:translated?) && @resource.translated?(attr)
        = f.attr_input attr, :value => @resource.read_attribute(attr, :locale => params[:locale]),:disabled => true
      - else
        = f.attr_input attr, :disabled => true, :locale => params[:locale]
    %br
    = render :partial => 'form_buttons', :locals => { :form => f }